*{padding:0;margin:0}
#canvas {
	border: 1px solid black;
}
#canvasAndButton{
	display: inline-block;
	float: left;
}

body{
	background-color : #EBC193;
	color : #5C302A;
	font-family: 'Special Elite', cursive;
	text-align: center;
	height: 100%;
	display : table;
	width: 100%;
}
a:visited{
	color: #5C3060;
}

p {
	font-family: Arial, Helvetica, sans-serif; 
}

nav{
	width : 100%;
	margin : 0 auto;
	height: 2rem;
	text-align: left;
	border-bottom : 1px solid #EEE2B2;
	background-color: #906e40;
	padding: 5;
	align-items: center;
	display: flex;
	text-align: center;
	white-space: nowrap;
	font-size: 14px;
	font-family: arial;
}

nav div ul li {
	display: inline-block;
	width: 20%;
	text-align: center;
	border : 2px solid transparent;
}
nav div ul li a:link {
	color: #f6d8b2;
}
nav div ul li a:visited {
	color: #f6d8b2;
}
nav div ul li a:hover{
	color: white;
}
nav div ul li a {
	text-decoration:none;
}

button{
	color: bisque;
	background-color: #5C302A;
	width: 200;
    height: 50;
    font-size: 20;
    text-decoration: none;
    border: none;
    cursor:pointer;
}

button:hover{
	color: #5C302A;
	background-color: bisque;
	transition: all 0.3s ease-out;
}

#navigation{
	text-align: left;
    width: 45%;
    display: inline-block;
}

#avatarMini{
	border-radius:25px;
}

/*****User management *****/
#userManage{
	text-align: right;
    width: 45%;
    display: inline-block;
}

#profil{
	width: 10%;
    display: inline-block;
}

/****** Game *****/
#main{
	width : 70%;
	margin : 0 auto;
	padding: 25;
	text-align: center;
}
#main p{
	margin: 10px;
}

.indexPitch{
	width: 40%!important;
}

#indexButton {
	
}

#indexButton a {
	/*color: bisque;*/
	text-decoration:none;
	width: 100%;
	height: 100%;
}

#connectionForm{
	margin-top: 25px;
}

/**** Lobby ****/

#lobbySideLeft{
	width: 15%;
	display: inline-block;
	box-sizing: border-box;
	height: 475px;
	border-right: 1px solid #EEE2B2;
	background-color: #3e2e1c;
	color: #f6d8b2;
}
#lobbySideLeft h2{
	font-family: arial;
	font-size: 14px;
	font-weight: normal;
	color: #bdad9c;
}
#lobbySideLeft a:link {
	color: #f6d8b2;
}
#lobbySideLeft a:visited {
	color: #f6d8b2;
}
#lobbySideLeft a:hover{
	color: white;
}
#lobbySideLeft a {
	text-decoration:none;
}

#lobbyAntichamber {
	width: 60%;
	height: 475px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	padding: 15;
	border-right: 1px solid #EEE2B2;
	background-image: url("/images/texture.png");
	background-size: contain;
}

#lobbyChat {
	width: 25%;
	height: 475px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	background-color: #e0c09a;
}

#chatBox {
	height: 60%;
	width: 100%;
	background-color: bisque;
	overflow: auto;
	text-align: left;
}

#chatBox  p:nth-child(even) {
	background-color: #e0c09a;
}

#chatBox  p{
	padding-left: 5;
	padding-right: 5;
	padding-top: 1;
	padding-bottom: 1;
}

#lobbyConnectedPlayers {
	width: 100%;
	height: 50%;
}

#lobbyConnectedPlayersTexts {
	height: 10%;
}

#connectedPlayers {
	height: 90%;
	width: 100%;
	border-bottom: 1px solid #EEE2B2;
	overflow: auto;
	text-align: left;
}

#connectedPlayers p:hover {
	background-color: #5a452d;
}

#connectedPlayers p a {
	padding-left: 5px;
}

#lobbyCurrentMatchesTexts{
	height: 10%;
}

#lobbyCurrentMatches {
	width: 100%;
	height: 50%;
}

#currentMatches {
	height: 90%;
	width: 100%;
	overflow: auto;
	display: inline-block;
	text-align: left;
}

#currentMatches p:hover {
	background-color: #5a452d;
}

#currentMatches p a {
	padding-left: 5px;
}

#antichamberAdder {
	margin: 10;
}

#slotPlayer1{
	width: 40%;
	display: inline-block;
}

#slotPlayer2{
	width: 40%;
	display: inline-block;
}

#avatarPlayer1{
	border: 2px solid #5A5540;
}

#avatarPlayer2{
	border: 2px solid #5A5540;
}

#player1AvatarSelect {
	visibility: hidden;
	width: 50;
    height: 50;
    font-size: 40;
    vertical-align: bottom;
}

#player2AvatarSelect {
	visibility: hidden;
	width: 50;
    height: 50;
    font-size: 40;
    vertical-align: bottom;
}

#evasionCountDown {
	display: inline-block;
	font-family: 'Special Elite', cursive;
	font-size: 10em;
}

#oneHOFMatch {
	box-sizing: border-box;
	width: 90%;
	margin: 5;
    padding: 10;
	border: 1px solid #EEE2B2;
	background-color: bisque;
    list-style: none;
}

#hoFMatchScreen{
	height: 400px;
	overflow: auto;
}

#oneHOFMatch:hover {
	padding: 6;
	border: 5px solid #5C302A;
}

#hOFCaption{
	width: 90%;
	margin-top: 15px;
	color: #2D1916;
}

#hOFElement{
	display: inline-block;
	text-align: center;
	width: 12%;
}

#infosInGame {
	height: 400px;
	width: 200px;
	display: inline-block;
	vertical-align: top;
	float: left;
}

#infosInGame > h2 {
	margin-top: 15px;
}

#victoryButton {
	position: relative;
	visibility: hidden;
	left: -500px;
	top: -300px;
}
#disconnectionIssues {
	position: absolute;
	visibility: hidden;
	width: 100%;
	height: 100%;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
#disconnectionText {
	text-align: center;
	transform: translateY(20%);
	color: white;
	font-size: 48px;
	height: 100%;
	padding: 50px;
}

/* Profil */

#profilWrapper{
	margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
	margin-right: auto;
    text-align: left;
    width: 90%;
}
#profilWrapper > h1{
    margin-bottom: 10px;
}
#profilAvatar{
	width: 40%;
	box-sizing: border-box;
}
#profilDetails{
    width: 55%;
	display: inline-block;
	vertical-align: top;
	margin-left: 25px;
	margin-top: 32px;
}
#profilDetails > *{
	margin-bottom: 15px;
	text-align: left;
	background-color: #f2e5c6;
	box-sizing: border-box;
}
#profilPresentation{
	height: 200px;
}
#profilFriends > ul{
	list-style: none;
}
.edit{
	width: 40px;
    height: 40px;
	background-color: rgba(179,123,64,0);
	border-radius: 5px;
	transition: all 0.5s ease-out;
}
.edit:hover{
	background-color: rgba(179,123,64,1);
}
#descriptionForm{
	display: none;
}
#editDescription{
	width: 100%;
}
#descriptionForm > div > button{
	width: 50%;
	font-size: 16px;
	height: 40px;
}
#cancelEditDescription{
	display: none;
}
#iconEditAvatar{
	position: relative;
	display: block;
	top: -40px;
	left: 3px;
}
/* FOOTER */

footer {
    height: 160px;
    background-color: #48362c;
    display : table-row;
}
footer h1 {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family: 'Crete Round', serif;
    font-size: 45px;
    text-decoration: none;
    transition: all 0.3s ease-out;
}
footer h1:hover {
    color: #a70db2;
    cursor: pointer;
}
.copyright {
    text-align: center;
    padding-top:30px;
    color: #fff;
}
.dot {
    color: #a70db2;
}