footer
	link(href='https://fonts.googleapis.com/css?family=Crete+Round', rel='stylesheet')
	div#portfolioWrapper
		a(href='http://yoannmroz.yj.fr/')
			h1#portFolio
				| YM
				span.dot .
	.copyright  Copyright &copy; 2019. Tous droits r&eacute;serv&eacute;s.