nav
  div#navigation
    ul
      li
        a(href='/') ACCUEIL
      li
        a(href='/lobby') JOUER
      li
        a(href='/hallOfFame') PANTHEON
      li
        a(href='http://yoannmroz.yj.fr/') PORTFOLIO
  div#userManage
    ul
      li
        a(href='/login') Se connecter 
      li
        a(href='/register') S'enregistrer 
      li
        a(href='/profil') Profil
  div#profil
    p
      | Profil : 
      span
        = profil