div#nav
  div#profil
    p
      | Profil : 
      span
        = profil
  nav
    ul
      li
        a(href='/') Accueil
      li
        a(href='http://yoannmroz.yj.fr/') portfolio 
      li
        a(href='/lobby') Jouer
      li
        a(href='/hallOfFame') Panthéon
  div#userManage
    ul 
      li
        a(href='/register') S'enregistrer
      li
        a(href='/login') Se connecter 
      li
        a(href='/profil') Profil

  