block menu
  p
    | Profil : 
    a= profil
  nav
  ul
    li
      a(href='http://yoannmroz.yj.fr/') portfolio du créateur
    li
      a(href='/') Accueil
    li
      a(href='/register') S'enregistrer
    li
      a(href='/login') Se connecter
    li
      a(href='/profil') Profil
    li
      a(href='/lobby') Jouer
    li
      a(href='/hallOfFame') Panthéon
  