html
  body
    block content
    h1 ERROR 404 MONUMENTALE
    p
      | ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE ERROR 404 MONUMENTALE 
    img(src='/images/image.png')