html
  include includes/head.pug
  head
    link(rel='stylesheet', type='text/css', href='/css/game.css')
  script(src='/socket.io/socket.io.js')
  body
    h1
      | Ecran de jeu
    script(type='text/javascript', src='/js/game.js')
    canvas#canvas Votre navigateur ne supporte pas HTML5, veuillez le mettre &agrave; jour pour jouer.