html
	include includes/head.pug
	head
		link(rel='stylesheet', type='text/css', href='/css/game.css')
		script(src='/socket.io/socket.io.js')
	body
		script(type='text/javascript', src='/js/game.js')
		div#disconnectionIssues
			p#disconnectionText
		div#infosInGame
			div#levelInfos
				h2#levelNumber
				p#levelTitle
			div#player1Infos
				h2#player1NameInGame
				p#player1ScoreInGame
				p#player1DeathsInGame
			div#player2Infos
				h2#player2NameInGame
				p#player2ScoreInGame
				p#player2DeathsInGame
			div#elapsedTimeInfos
				h2#elapsedTimeInGame
			div#emoticons
				input#emoticonHi(type='image', src='/images/emoticons/hi.png', class='emoticon', title='Salut !')
				input#emoticonCongratulations(type='image', src='/images/emoticons/congratulations.png', class='emoticon', title='Hourra !')
				input#emoticonFear(type='image', src='/images/emoticons/fear.png', class='emoticon', title='J\'ai peur')
				input#emoticonLol(type='image', src='/images/emoticons/lol.png', class='emoticon', title='lol')
				input#emoticonHere(type='image', src='/images/emoticons/here.png', class='emoticon', title='Viens ici !')
				input#emoticonWait(type='image', src='/images/emoticons/wait.png', class='emoticon', title='Attends')
				input#emoticonSpeedUp(type='image', src='/images/emoticons/speedUp.png', class='emoticon', title='On se dépêche !')
				input#emoticonThinking(type='image', src='/images/emoticons/thinking.png', class='emoticon', title='Je réfléchis')
		div#canvasAndButton
			canvas#canvas Votre navigateur ne supporte pas HTML5, veuillez le mettre &agrave; jour pour jouer.
			button#victoryButton(name='button') HOURRA !