html
  include includes/head.pug
  body
    block menu
      include includes/navigation.pug
    h1
      | Bienvenue 
      a= message
      |  dans la prison de Cubekatraz !
    p
      | Cubekatraz est un jeu de coopération online qui met deux joueurs dans la peau de deux cubes intrépides bien décidés à s'échapper de la plus impitoyable des prisons qui soit : Cubekatraz !
      br
      | Saurez-vous en sortir indemne ?
    p
      | Vous découvrez le jeu et souhaitez y jouer ?
      br
      | Rien de plus facile : 
      br
      | Enregistrez-vous en vous rendant sur ce lien.
      br
      | Si c'est déjà fait connectez-vous ici.
      br
      | Pour jouer rendez-vous sur ce lien.
      br
      | Amusez-vous bien !