html
  style.
    * {
      box-sizing: border-box;
    }
    body {
      font-family: Verdana, sans-serif;
    }
    .mySlides {
      display: none;
    }
    .mySlides > img {
      vertical-align: middle;
      height: 50vh;
      width: auto;
    }
    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
      display: inline-block;
    }
    #asideLeftComments{
      display: inline-block;
      float: left;
      text-align: center;
      padding : 15px;
      width : 25%;
    }
    #asideRightComments
    {
      display: inline-block;
      float: right;
      text-align: center;
      padding : 15px;
      width : 25%;
    }
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 200px;
      left: calc(50% - 100px);
      text-align: center;
      background-color: rgba(0,0,0,0.5);
    }
    /* Number text (1/4 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
      left: calc(50% - 20px);
    }
    /* The dots/bullets/indicators */
    .dotSlide {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      margin-bottom: 10px;
    }
    .active {
      background-color: #717171;
    }
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .text {
        font-size: 11px
      }
    }
  script.
    'use strict';
    window.document.addEventListener('DOMContentLoaded', function () {
      var indexButton = document.getElementById('indexButton');
      indexButton.addEventListener('click', function (evt) {
        window.location.href = '/lobby';
      });
      var slideIndex = 0;
      showSlides();

      function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dotSlide");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 5000); // Change image every 2 seconds
      }
    });
  head
    include includes/head.pug
  body
    include includes/navigation.pug
    div#main.indexPitch
      h1#welcomingMsg
        | Bienvenue 
        a= message
        |  dans la prison de Cubekatraz !
      p
        | Cubekatraz est un jeu de coopération online qui met deux joueurs dans la peau de deux cubes intrépides bien décidés à s'échapper de la plus impitoyable des prisons qui soit : Cubekatraz !
      p
        | Saurez-vous en sortir indemne ?
      button#indexButton(name='button') JOUER
    div#asideLeftComments
      h2 I'll be back !!
      p videoJeux.com
      h2 Pouce bleu !
      p Tutube
    .slideshow-container
      .mySlides.fade
        .numbertext 1 / 4
        img(src='/images/gameplayCaptures/picture1.jpg', color = "black")
        .text De l'amitié
      .mySlides.fade
        .numbertext 2 / 4
        img(src='/images/gameplayCaptures/picture2.jpg')
        .text Du mystère...
      .mySlides.fade
        .numbertext 3 / 4
        img(src='/images/gameplayCaptures/picture3.jpg')
        .text De la réflexion
      .mySlides.fade
        .numbertext 4 / 4
        img(src='/images/gameplayCaptures/picture4.jpg')
        .text Du danger !
    div#asideRightComments
      h2 Dans un monde factice et sans originalité, cubekatraz offre une expérience unique et inoubliable
      p Parimis Hotel
    br
    div(style='text-align:center')
      span.dotSlide
      span.dotSlide
      span.dotSlide
      span.dotSlide
  include includes/footer.pug