html
  include includes/head.pug
  body
    block menu
      include includes/navigation.pug
    div#main
      h1 Se connecter
      form(action='/login' method='post')
        label(for='login') Identifiant :
        input#name(type='text' name='user_login')
        label(for='password') Mot de passe :
        input#surname(type='password' name='user_password')
        button(type='submit') Envoyer le message

        p= message