html
  include includes/head.pug
  body
    block menu
      include includes/navigation.pug
    div#main
      p= message
      button#indexButton(name='button')
          a(href='/lobby') JOUER
      button#indexButton(name='button')
          a(href='/login') SE CONNECTER
      button#indexButton(name='button')
          a(href='/register') S'ENREGISTRER
  include includes/footer.pug